{% extends 'base.html' %}
{% block title %}M__n news{% endblock title %}
{% block content %}
{% for n in page_obj %}
    <div class="moon_news_body w3-panel w3-topbar w3-border w3-border-black w3-margins">
        <h2>{{ n.title }}</h2>
        <hr class="w3-border-black" style="color: black">
        <p>{{ n.short_content }}</p>
        <hr class="w3-border-black" style="color: black">
        <div class="moon_news_footer">
            <div>
                <em>теги</em>
                {{ n.tags | upper}}
            </div>
            <div>
                {{ n.published }}
            </div>
            <div>
                <em>автор   :</em>
                {{ n.publisher__username }}
            </div>
        </div>
    </div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <div class="w3-center">
        <div class="w3-bar w3-center w3-padding-small w3-round-large w3-black w3-small">
                {% if page_obj.has_previous %}
                    <a class="w3-button w3-bar-item" href="?page=1">&laquo;</a>
                    <a class="w3-button w3-bar-item" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <div class="w3-bar-item w3-grey w3-badge w3-margin-left w3-margin-right">
                {{ page_obj.number }}
                </div>
                {% if page_obj.has_next %}
                    <a class="w3-button w3-bar-item" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="w3-button w3-bar-item" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
        </div>
    </div>
{% endblock content %}
