{% extends 'base.html' %}
{% block title %} Заметка {% endblock title %}
{% block content %}
<div class="w3-card">
    <div class="w3-container w3-black">
        <h2>{{object.type_name}}: {{object.title}}</h2>
    </div>
    {% block note_content %}
    {% endblock note_content %}
    <div class="w3-container">
        <p>Создано: {{object.created}}</p>
    </div>
    <div class="w3-container">
        <p>Последнее обновление: {{object.updated}}</p>
    </div>
    <div class="w3-container">
        <p>теги: {{object.tags}}</p>
    </div>
    <div class="w3-container w3-black">
        <a class="w3-button" href="{% block change_url %}#{% endblock change_url %}">Изменить</a>
        <a class="w3-button" href="{% block delete_url %}#{% endblock delete_url %}">Удалить</a>
    </div>
</div>
{% endblock content %}